<div class="footer">
    <div class="bottom-section">
        <div>
            © 2023 V34L   
        </div>
        <div class="follow-me">
            Follow Me  
            <div class="socials">
                <a href="https://github.com/alexvegas22" target="_blank"><i class="fa fa-github" style="font-size:30px; color: black;" ></i></a> 
                <a href="https://www.linkedin.com/in/alexandre-baudouin-vegas/" target="_blank"><i class="fa fa-linkedin-square" style="color:black; font-size:30px" ></i></a>
            </div>
            
        </div>
    </div>
    
</div>
