.footer{
    background-color: var(--primary-background);
    display: flex;
    
}
.bottom-section{
    padding :30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.follow-me{
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    text-align: center;
}
.socials{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}