.footer{
    background-color: var(--primary-background);
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;   
    width: 100%;
        
}
.bottom-section{
    padding :30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.follow-me{
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    text-align: center;
    position: relative;
    right: 0; 
}
.socials{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
@media only screen and (max-width: 450px) {
    .footer{
        height: 10%;
    }
}