<div class="content">
    <div class="wrapper">
        <div class="card">
            <div class="query">
                <h3> All items</h3>
                <p>Showing 1-{{items.length}} out of {{items.length}} items</p>
            </div>
            <div class="collection">
                <a *ngFor="let item of items" routerLink="/product/{{item.id}}">
                    <div class="item">
                        <img class="product-image" src="{{item.image}}">
                        <h3>{{item.name | uppercase}}</h3>
                        <p>{{item.price}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>





