.container{
    margin:auto;
    
    display: flex;
    width: 60%;
    height: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: white;
    
}

.item{

    outline: 1px solid lightgray;
    margin-bottom:25px;
    height: 100px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding : 15px;
    padding-bottom: 5px;
    overflow: hidden;
}
.item>img{
    height: 100px;
    align-self: center;
    margin-right: 20px ;
}

.remove{
    background-color: var(--primary-background);
    height: 30px;
    width: 130px;
    border: 1px solid gray;
    border-radius: 20px;
    align-self: center;
  }

.remove:hover{
    transform:scale(1.1);
    background-color: var(--secondary-background);
  }
.price{
    margin:50px;
}