.container {
    margin: auto;

    display: flex;
    width: 60%;
    height: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: white;

}

.item {

    outline: 1px solid lightgray;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
    padding-bottom: 5px;
    overflow: hidden;
}

.item>img {
    height: 100px;
    align-self: center;
    margin-right: 20px;
}

.remove {
    outline: 0;
    align-self: center;
}

.remove:hover {
    transform: scale(1.1);
    fill: #ff0000;
}

.price {
    margin: 50px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 25px;
    height: 60px;
}

@media only screen and (max-width:650px) {
    .container {
        width: 100%
    }

    h3 {
        font-size: 15px;
    }

}