<div class="banner">
  <img src="..\..\assets\images\v34l.png" style="height: 100px;">
  <div class="search-bar">
   
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsTAAALEwEAmpwYAAAChklEQVR4nM2YT4hNYRjGfzPy
        N01JqSk2k6FBWRBjoSxQWEhu2ZFIrBQxNDTDkhIbG0phoaFJCKM0sUAMISHMTowFmcssjDj66j319nbPHd+55zv3PPV0u895v/c855zvz/t9ADeBKIEjwCNgO9BAnRD9Jy/Uy+B
        DD5OlehhsAKYlsA3oUwb7KSDmAH/FoPttpoAYUG9xKwXEEWXwMgXEEmVwGBhPwdAIfFYmV1BAnFMGn8v0NBCAD4BLwGpfgyWP+TLKgG7GWOtjsAkYzdlkj+9bvGsGy44EvpSY00a/I
        3pvlbY31D2u+RrcY56wLSHuulzfYPTjoh+sMhhfq/yHfA3ONQYPZGxwo8r9B2glBd6rJD+AwQocketDRv8u+teEdsMq9xVS4mROA6Q9rcFVJlE30GIYD6adRj8j+rEKbZ6onK59akwAy
        irZ7Qz64EJVMUXyEmpCr0r2C1gDrFSMi+Auo/eIftbo8QM5PiMDbAvY9zZlYbDZfJKfZj2NR+sHow+J/lFpuru4kTyOAEVsGZiUog9Ol6kqzrOLQEVsBKxLYfCoav8FmByqiI2A+0CH8I
        1o55XmeE/0W/L/Wy3L2lhw62bcp2plWXaRQYvYqAYeJhBK6iajMs/58CKwJeSxSpMpYhdQQPQpg24/MZWCYSnwW5l8BWyWamSRB+dnOUlbdGQ0WNwaHQz7pHCoxeA7AqNVar1+udmgB58C6
        0MbnCFF6Qs58JyVUE92iyF3uruMnNAIPDaf7C0w0cSdMjFu/zI7D4PzEvrVchOn19+xdoeZoiXB4GIT96lCzG5ywlVzY1e9uE+vsd/EuDLL9d1c4AbAXjmd6gSmJMS5st6twyeAmdUy/gNalvD/4/u/kQAAAABJRU5ErkJggg==">
  </div>

</div>

<app-items></app-items>

<app-footer></app-footer>
