:root{
    --primary-background: lightgray;
    --border-color: lightgray;
    --secondary-background : rgb(230, 230, 230) ;
}
html, body { 
    height: 100%; 
}
* { 
    margin: 0; 
    padding:0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box !important;
}
body{
    background: var(--secondary-background);
}
