:root{
    --primary-background: lightgray;
    --border-color: lightgray;
    --secondary-background : rgb(230, 230, 230) ;
}
html, body { 
    height: 100%; 
}
* { 
    margin: 0; 
    padding:0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box !important;
}
body{
    background: var(--secondary-background);
}

@media only screen and (max-width: 450px){
    body{background: white;}
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
    margin:0 0 0 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}